$ const { newsletter, date } = data;

<common-weekly-layout data=data>
  <@viewOnline>
    <common-hide-view-online-block />
  </@viewOnline>
  <@header>
    <common-header-with-date-block date=date newsletter=newsletter />
  </@header>
</common-weekly-layout>
